:root{
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --black: #000000BF;
}


/* Body */
*{
  box-sizing: border-box;
}
body{
  font-family: 'Kumbh Sans', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Navigation */

/* Mobile */
@media (max-width: 750px) {
  #desktop-nav{
    display: none;
  }
  #open-nav {
    background: none;
    border: none;
    background-image: url(assets/icon-menu.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin: 0 8px;
  }
  #mnav{
    position: absolute;
    transition: left 0.5s ease;
    left: -100%;
    top: 0;
    height: 100dvh;
    width: 200px;
    z-index: 2;
    background: #fff;
    padding: 16px;
  }
  #mnav.active{
    display: block;
    transition: left 0.5s ease;
    left: 0;
  }
  #overlay{
    display: none;
  }
  #overlay.active{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100dvw;
    height: 100dvh;
    background: #000;
    opacity: 75%;
  }
  .close{
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    background-image: url(assets/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  nav button{
    width: 100%;
    height: 35px;
    border: none;
    background: none;
    text-align: left;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 16px 8px;
    cursor: pointer;
  }
}

/* Desktop */
@media (min-width: 751px) {
  #mobile-nav{
    display: none;
  }
  nav button{
    background: none;
    border: none;
    color: #000;
    opacity: 75%;
    padding: 16px;
    cursor: pointer;
  }
  nav button:hover{
    opacity: 100%;
    border-bottom: 5px var(--orange) solid;
  }
}

/* Header */
header{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
header h1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}
#r-btn{
  position: absolute;
  display: flex;
  right: 16px;
  gap: 16px;
}
.r-btn{
  width: 20px;
  height: 20px;
  border: none;
}
#cartBtn{
  background: transparent url(assets/icon-cart.svg) center / 100% no-repeat;
}
#pfpBtn{
  background: transparent url(assets/image-avatar.png) center / 100% no-repeat;
  width: 30px;
  height: 30px;
}

/* Main */
/* Mobile */
#thumbnail{
  display: flex;
  align-items: center;
}
.main-img{
  display: block;
  position: relative;
  width: 100%;
}
.side-img{
  display: none;
}
#thumbnail button img{
  width: 25%;
}
#displayImg{
  display: none;
}
.next, .prev{
  position: absolute;
  z-index: 1;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#next{
  right: 16px;
}
.prev{
  left: 16px;
}
.details{
  padding: 0 16px;
}
#info h4{
  margin: 16px 0;
  color: var(--dark-grayish-blue);
}
#info h1{
  margin: 0;
  color: var(--black);
}
#info p{
  line-height: 1.5;
  color: var(--dark-grayish-blue);
  width: 34ch;
}
#buy-sect{
  display: grid;
  flex-direction: column;
  margin-bottom: 16px;
}
#price{
  color: var(--black);
  display: flex;
  gap: 8px;
  border: none;
  background: none;
  opacity: 1;
}
#discount{
  display: block;
  background: var(--very-dark-blue);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.885rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#original-price{
  position: absolute;
  right: 16px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}
#buy{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#amount-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grayish-blue);
  padding: 10px 16px;
  border-radius: 8px;
}
#amount-selector * {
  background: transparent no-repeat center center;
  border: none;
  font-size: 1.25rem;
  color: var(--orange);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 1;
}
#amount{
  outline: none;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}
#plus{
  background-image: url(assets/icon-plus.svg);
}
#minus{
  background-image: url(assets/icon-minus.svg);
}
#add-to-cart{
  padding: 20px;
  border: 0;
  border-radius: 8px;
  background: var(--orange);
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 4px 4px 8px var(--pale-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
#add-to-cart img{
  filter: brightness(0);
}


/* Responsive */
/* Laptop */
@media (min-width: 751px) {
  body{
    margin: 0 128px;
  }
  header{
    height: 100px;
    border-bottom: 1px var(--light-grayish-blue) solid;
  }
  #r-btn{
    position: relative;
    margin-left: auto;
  }
  nav{
    margin: 0 32px;
    height: 100%;
    display: flex;
    gap: 32px;
    margin: 0 40px;
  }
  nav button{
    height: 100%;
    padding: 0;
  }
  
  /* Main */
  #main{
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #thumbnail .prev, #thumbnail .next{
    display: none;
  }
  #thumbnail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    flex-wrap: wrap;
    width: 50%;
  }
  #details{
    width: 50%;
  }
  #displayImg{
    display: block;
    grid-column: span 4;
    grid-row: 1 / span 4;
    width: 100%;
  }
  .main-img{
    border: 2px var(--orange) solid;
    opacity: 0.5;
    background: #fff;
  }
  #thumbnail .side-img{
    display: block;
    width: 100%;
  }
  
  /* Details */
  #price{
    display: grid;
    grid-template-columns: 80px 50px;
    gap: 16px;
    position: relative;
    max-width: 180px;
    height: 100px;
  }
  #discount{
    display: inline-block;
    max-height: 26px;
  }
  #original-price{
    position: absolute;
    bottom: 0;
    left: 0;
    grid-column: span 2;
  }
  #buy{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    max-height: 40px;
    width: 100%;
  }
  #buy *{
    padding: 8px;
    width: 100%;
  }
  #add-to-cart{
    font-size: 0.85rem;
  }
  #add-to-cart img{
    width: 32px;
  }
  img{
    border-radius: 8px;
  }
}
/* Tablet */
@media(max-width: 900px) and (min-width: 751px){
  body{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  #main{
    flex-direction: column;
  }
  #thumbnail{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .main-img{
    width: 75%;
  }
  .prev, .next{
    position: relative;
    display: block;
    transform: scale(1.25);
  }
  .side-img{
    display: none;
  }
  #details{
    width: 100%;
  }
  #buy{
    display: flex;
    flex-direction: col;
  }
}
/* Desktop */
@media(min-width: 1100px){
  body{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  #discount{
    font-size: 1.1rem;
  }
  #amount{
    font-size: 1.1rem;
  }
  #add-to-cart{
    font-size: 1;
  }
  #thumbnail{
    width: 40%;
  }
  #details{
    width: 40%;
  }
}



/* Cart */
#cartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cart{
  display: none;
}
#cart.active{
  display: block;
  position: absolute;
  top: 32px;
  background: #fff;
  width: 330px;
  min-height: 200px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 6px 12px #949494;
  border-radius: 4px;
  padding: 0;
  z-index: 2;
}
#totalAmount{
  display: none;
}
#totalAmount.active{
  display: block;
  position: relative;
  background: var(--orange);
  border-radius: 20px;
  width: 18px;
  height: 12px;
  bottom: 8px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}
#cart h4{
  padding: 16px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--light-grayish-blue);
}
#status{
  width: 100%;
  text-align: center;
  margin-top: 60px;
  display: none;
}
#status.active{
  display: block;
}

/* Item */
.item{
  display: flex;
  flex-direction: column;
  margin: 24px;
  width: 100%;
  gap: 20px;
}
.item-img{
  width: 45px;
  height: 45px;
  border-radius: 4px;
}
.item .info{
  display: flex;
  gap: 12px;
}
.item .details{
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
}
.item .details *{
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  color: var(--dark-grayish-blue);
}
.item .name{
  grid-column: span 2;
  font-size: 0.95rem;
}
.total-price{
  font-weight: 700;
  color: #000;
}
.del{
  grid-row: 1 / span 2;
  grid-column: 3;
  background: none;
  border-radius: 0;
  border: none;
  width: 45px;
}
.del img{
  border-radius: 0;
}
.checkout{
  width: 85%;
  height: 45px;
  background: var(--orange);
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

/* For Mobile */
@media(max-width: 751px){
  #cartContainer, #r-btn{
    position: static;
  }
  #r-btn{
    margin-left: auto;
    margin-right: 16px;
  }
  #cart{
    left: 16px;
    margin-top: 48px;
  }
}

/* Light Box */
#lightbox{
  display: none;
}
#lightbox.active{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #000000BF;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#mainImg{
  width: 40%;
  position: relative;
}
#displayImage{
  width: 100%;
}
#mainImg :is(.next, .prev){
  position: absolute;
  top: 45%;
  transform: translate(-50%);
}
#lightbox :is(.next, .prev) img {
  width: 25%;
}
#mainImg .prev{
  left: 0;
}
#mainImg .next{
  right: -32px;
}
.img-list{
  width: 30%;
  display: flex;
  gap: 16px;
  position: relative;
  right: 24px;
}
.img-list img{
  display: block;
  width: 25%;
}
.close{
  position: relative;
  left: 180px;
  background: none;
  border: none;
  filter: brightness(10);
  cursor: pointer;
}