:root{
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
}


/* Body */
body{
  font-family: 'Kumbh Sans', Arial;
  font-weight: 400;
  margin: 0;
}

/* Navigation */

/* Mobile */
@media (max-width: 750px) {
  #desktop-nav{
    display: none;
  }
  #open-nav {
    background: none;
    border: none;
    background-image: url(assets/icon-menu.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin: 0 8px;
  }
  #mnav{
    position: absolute;
    transition: left 0.5s ease;
    left: -100%;
    top: 0;
    height: 100dvh;
    width: 200px;
    z-index: 2;
    background: #fff;
    padding: 16px;
  }
  #mnav.active{
    display: block;
    transition: left 0.5s ease;
    left: 0;
  }
  #overlay{
    display: none;
  }
  #overlay.active{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100dvw;
    height: 100dvh;
    background: #000;
    opacity: 75%;
  }
  .close{
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    background-image: url(assets/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  nav button{
    width: 100%;
    height: 35px;
    border: none;
    background: none;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 8px;
  }
}

/* Desktop */
@media (min-width: 751px) {
  #mobile-nav{
    display: none;
  }
  nav button{
    background: none;
    border: none;
    color: #000;
    opacity: 75%;
    padding: 16px;
  }
  nav button:hover{
    opacity: 100%;
    border-bottom: 5px var(--Orange) solid;
  }
}

/* Header */
header{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
header h1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}
#r-btn{
  position: absolute;
  display: flex;
  right: 16px;
  gap: 16px;
}
#r-btn button{
  width: 20px;
  height: 20px;
  border: none;
}
#cartBtn{
  background: transparent url(assets/icon-cart.svg) center / 100% no-repeat;
}
#pfpBtn{
  background: transparent url(assets/image-avatar.png) center / 100% no-repeat;
  width: 25px;
  height: 25px;
}